.section-margin {
  float: left;
  position: absolute;
  left: 10px;
  top: 10px;
}

.InfoCard {
  position:absolute;
    top:2vh;
    right: 25vw;
  
}

.mgt-light {
  background-color: inherit !important;
}

.mgt-dark {
  background-color: inherit !important;
}

